[submodule "NetLayers/100G-fpga-network-stack-core"]
	path = NetLayers/100G-fpga-network-stack-core
	url = https://github.com/marsiau/100G-fpga-network-stack-core.git
	shallow = true
	branch = rfsoc4x2
